}
.insta {
    width: 270px;
    height: 270px;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #ff0079 62%, #38174a 85%, #626895);
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    insta-inner2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 18px solid #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
