width: 270px;
    height: 270px;
    background: radial-gradient(circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9d36d7 85%,
    #515ecf);
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
